-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('gerant', 'technicien', 'dev', 'social_media');

-- CreateEnum
CREATE TYPE "Langue" AS ENUM ('fr', 'en');

-- CreateEnum
CREATE TYPE "StatutLot" AS ENUM ('en_cours_de_test', 'teste', 'valide');

-- CreateEnum
CREATE TYPE "ModeCout" AS ENUM ('manuel', 'auto');

-- CreateEnum
CREATE TYPE "StatutProduit" AS ENUM ('recu', 'en_test', 'ok', 'a_reparer', 'manque_piece', 'hs', 'en_vente', 'vendu');

-- CreateEnum
CREATE TYPE "TypeMouvement" AS ENUM ('achat_lot', 'vente', 'annulation_vente', 'apport_associe', 'achat_piece', 'frais', 'retrait_parts', 'transfert_reserve', 'reinvest');

-- CreateEnum
CREATE TYPE "DecisionRapport" AS ENUM ('reparer', 'vendre_en_etat', 'pieces_detachees');

-- CreateEnum
CREATE TYPE "CarnetCategorie" AS ENUM ('developpement', 'inventaire', 'caisse', 'tests', 'maintenance', 'ui_ux', 'reseau', 'materiel', 'administration', 'recherche', 'correction', 'autre');

-- CreateTable
CREATE TABLE "users" (
    "id" SERIAL NOT NULL,
    "username" TEXT NOT NULL,
    "password_hash" TEXT NOT NULL,
    "role" "Role" NOT NULL,
    "langue" "Langue" NOT NULL DEFAULT 'fr',
    "login_attempts" INTEGER NOT NULL DEFAULT 0,
    "locked_until" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "parametres" (
    "id" INTEGER NOT NULL DEFAULT 1,
    "marge_minimum_pct" INTEGER NOT NULL DEFAULT 20,
    "objectif_reserve" INTEGER NOT NULL DEFAULT 50000,
    "pct_reinvest" INTEGER NOT NULL DEFAULT 50,
    "pct_reserve" INTEGER NOT NULL DEFAULT 20,
    "pct_parts" INTEGER NOT NULL DEFAULT 20,
    "pct_frais" INTEGER NOT NULL DEFAULT 10,
    "entreprise_nom" TEXT NOT NULL DEFAULT 'Solution Maxi',
    "entreprise_adresse" TEXT NOT NULL DEFAULT 'Alger, Alg├®rie',
    "entreprise_tel" TEXT NOT NULL DEFAULT '0000 00 00 00',
    "entreprise_rc" TEXT NOT NULL DEFAULT 'RC XXXXXXXXX',
    "entreprise_nif" TEXT NOT NULL DEFAULT 'NIF XXXXXXXXX',
    "entreprise_nis" TEXT NOT NULL DEFAULT 'NIS XXXXXXXXX',
    "entreprise_art" TEXT NOT NULL DEFAULT 'ART XXXXXXXXX',
    "entreprise_rib" TEXT,
    "entreprise_cachet" TEXT,
    "caisse_vide_a" TIMESTAMP(3),
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "parametres_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "lots" (
    "id" SERIAL NOT NULL,
    "fournisseur" TEXT NOT NULL,
    "date_entree" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "statut_lot" "StatutLot" NOT NULL DEFAULT 'en_cours_de_test',
    "description" TEXT,
    "quantite_attendue" INTEGER DEFAULT 0,
    "cout_global_declare" INTEGER,
    "mode_cout" "ModeCout" NOT NULL DEFAULT 'manuel',
    "cout_valide" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "lots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "familles_info" (
    "id" TEXT NOT NULL,
    "nom" TEXT,
    "image_url" TEXT,
    "description" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "familles_info_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "categories_info" (
    "nom" TEXT NOT NULL,
    "image_url" TEXT,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "categories_info_pkey" PRIMARY KEY ("nom")
);

-- CreateTable
CREATE TABLE "produits" (
    "id" SERIAL NOT NULL,
    "lot_id" INTEGER,
    "code_interne" TEXT NOT NULL,
    "reference" TEXT NOT NULL,
    "categorie" TEXT NOT NULL,
    "statut" "StatutProduit" NOT NULL DEFAULT 'recu',
    "prix_achat" INTEGER NOT NULL,
    "prix_vente_fixe" INTEGER,
    "prix_vente_reel" INTEGER,
    "date_vente" TIMESTAMP(3),
    "notes" TEXT,
    "image_url" TEXT,
    "decision_rapport" "DecisionRapport",
    "a_jeter" BOOLEAN NOT NULL DEFAULT false,
    "en_vitrine" BOOLEAN NOT NULL DEFAULT false,
    "etiquette_imprimee" BOOLEAN NOT NULL DEFAULT false,
    "etiquette_imprimee_le" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "produits_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produit_images" (
    "id" SERIAL NOT NULL,
    "produit_id" INTEGER NOT NULL,
    "data" TEXT NOT NULL,
    "position" INTEGER NOT NULL DEFAULT 0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "produit_images_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ventes" (
    "id" SERIAL NOT NULL,
    "produit_id" INTEGER NOT NULL,
    "vendu_par" INTEGER NOT NULL,
    "prix_vente_reel" INTEGER NOT NULL,
    "canal" TEXT,
    "date_vente" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "annulee" BOOLEAN NOT NULL DEFAULT false,
    "motif_annulation" TEXT,
    "annulee_par" INTEGER,
    "annulee_at" TIMESTAMP(3),
    "groupe_vente" TEXT,

    CONSTRAINT "ventes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "reparations" (
    "id" SERIAL NOT NULL,
    "produit_id" INTEGER NOT NULL,
    "user_id" INTEGER NOT NULL,
    "cout" INTEGER NOT NULL,
    "description" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "reparations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "historique_statuts" (
    "id" SERIAL NOT NULL,
    "produit_id" INTEGER NOT NULL,
    "user_id" INTEGER NOT NULL,
    "statut_avant" "StatutProduit",
    "statut_apres" "StatutProduit" NOT NULL,
    "note" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "historique_statuts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "mouvements_caisse" (
    "id" SERIAL NOT NULL,
    "montant" INTEGER NOT NULL,
    "type" "TypeMouvement" NOT NULL,
    "date" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "produit_id" INTEGER,
    "lot_id" INTEGER,
    "user_id" INTEGER NOT NULL,
    "description" TEXT,
    "solde_apres" INTEGER NOT NULL,

    CONSTRAINT "mouvements_caisse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "factures" (
    "id" SERIAL NOT NULL,
    "numero" TEXT NOT NULL,
    "date_emission" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "type_facture" TEXT NOT NULL DEFAULT 'normale',
    "client_nom" TEXT,
    "client_adresse" TEXT,
    "client_tel" TEXT,
    "client_rc" TEXT,
    "client_nif" TEXT,
    "client_ai" TEXT,
    "client_nis" TEXT,
    "total" INTEGER NOT NULL,
    "garantie_mois" INTEGER NOT NULL DEFAULT 6,
    "garantie_fin" TIMESTAMP(3) NOT NULL,
    "canal" TEXT,
    "groupe_vente" TEXT,
    "cree_par" INTEGER NOT NULL,
    "annulee" BOOLEAN NOT NULL DEFAULT false,
    "mode_paiement" TEXT DEFAULT 'especes',
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "factures_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "facture_lignes" (
    "id" SERIAL NOT NULL,
    "facture_id" INTEGER NOT NULL,
    "produit_id" INTEGER,
    "vente_id" INTEGER,
    "code_interne" TEXT NOT NULL,
    "designation" TEXT NOT NULL,
    "categorie" TEXT,
    "prix" INTEGER NOT NULL,
    "garantie_fin" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "facture_lignes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "notifications" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "message" TEXT NOT NULL,
    "type" TEXT,
    "lu" BOOLEAN NOT NULL DEFAULT false,
    "lien" TEXT,
    "groupe" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "journal_activite" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "action" TEXT NOT NULL,
    "entite_type" TEXT,
    "entite_id" INTEGER,
    "details" TEXT,
    "ip" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "journal_activite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "push_subscriptions" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "endpoint" TEXT NOT NULL,
    "p256dh" TEXT NOT NULL,
    "auth" TEXT NOT NULL,
    "user_agent" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "push_subscriptions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "fcm_tokens" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "token" TEXT NOT NULL,
    "device" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "fcm_tokens_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "carnet_entrees" (
    "id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "titre" TEXT NOT NULL,
    "categories" "CarnetCategorie"[],
    "contenu" TEXT NOT NULL,
    "date_travail" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "carnet_entrees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "carnet_pieces_jointes" (
    "id" SERIAL NOT NULL,
    "entree_id" INTEGER NOT NULL,
    "nom" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "taille" INTEGER NOT NULL,
    "type" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "carnet_pieces_jointes_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "produits_code_interne_key" ON "produits"("code_interne");

-- CreateIndex
CREATE INDEX "produits_lot_id_idx" ON "produits"("lot_id");

-- CreateIndex
CREATE INDEX "produits_statut_idx" ON "produits"("statut");

-- CreateIndex
CREATE INDEX "produits_categorie_idx" ON "produits"("categorie");

-- CreateIndex
CREATE INDEX "produits_lot_id_reference_categorie_idx" ON "produits"("lot_id", "reference", "categorie");

-- CreateIndex
CREATE INDEX "produit_images_produit_id_idx" ON "produit_images"("produit_id");

-- CreateIndex
CREATE INDEX "ventes_produit_id_idx" ON "ventes"("produit_id");

-- CreateIndex
CREATE INDEX "ventes_date_vente_idx" ON "ventes"("date_vente");

-- CreateIndex
CREATE INDEX "reparations_produit_id_idx" ON "reparations"("produit_id");

-- CreateIndex
CREATE INDEX "historique_statuts_produit_id_idx" ON "historique_statuts"("produit_id");

-- CreateIndex
CREATE INDEX "mouvements_caisse_produit_id_idx" ON "mouvements_caisse"("produit_id");

-- CreateIndex
CREATE INDEX "mouvements_caisse_lot_id_idx" ON "mouvements_caisse"("lot_id");

-- CreateIndex
CREATE INDEX "mouvements_caisse_date_idx" ON "mouvements_caisse"("date");

-- CreateIndex
CREATE UNIQUE INDEX "factures_numero_key" ON "factures"("numero");

-- CreateIndex
CREATE INDEX "factures_date_emission_idx" ON "factures"("date_emission");

-- CreateIndex
CREATE INDEX "facture_lignes_facture_id_idx" ON "facture_lignes"("facture_id");

-- CreateIndex
CREATE INDEX "notifications_user_id_groupe_lu_idx" ON "notifications"("user_id", "groupe", "lu");

-- CreateIndex
CREATE INDEX "journal_activite_user_id_idx" ON "journal_activite"("user_id");

-- CreateIndex
CREATE INDEX "journal_activite_action_idx" ON "journal_activite"("action");

-- CreateIndex
CREATE INDEX "journal_activite_created_at_idx" ON "journal_activite"("created_at");

-- CreateIndex
CREATE INDEX "journal_activite_entite_type_entite_id_idx" ON "journal_activite"("entite_type", "entite_id");

-- CreateIndex
CREATE UNIQUE INDEX "push_subscriptions_endpoint_key" ON "push_subscriptions"("endpoint");

-- CreateIndex
CREATE INDEX "push_subscriptions_user_id_idx" ON "push_subscriptions"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "fcm_tokens_token_key" ON "fcm_tokens"("token");

-- CreateIndex
CREATE INDEX "fcm_tokens_user_id_idx" ON "fcm_tokens"("user_id");

-- AddForeignKey
ALTER TABLE "produits" ADD CONSTRAINT "produits_lot_id_fkey" FOREIGN KEY ("lot_id") REFERENCES "lots"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "produit_images" ADD CONSTRAINT "produit_images_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ventes" ADD CONSTRAINT "ventes_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ventes" ADD CONSTRAINT "ventes_vendu_par_fkey" FOREIGN KEY ("vendu_par") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reparations" ADD CONSTRAINT "reparations_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "reparations" ADD CONSTRAINT "reparations_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "historique_statuts" ADD CONSTRAINT "historique_statuts_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "historique_statuts" ADD CONSTRAINT "historique_statuts_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvements_caisse" ADD CONSTRAINT "mouvements_caisse_produit_id_fkey" FOREIGN KEY ("produit_id") REFERENCES "produits"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvements_caisse" ADD CONSTRAINT "mouvements_caisse_lot_id_fkey" FOREIGN KEY ("lot_id") REFERENCES "lots"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "mouvements_caisse" ADD CONSTRAINT "mouvements_caisse_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "factures" ADD CONSTRAINT "factures_cree_par_fkey" FOREIGN KEY ("cree_par") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "facture_lignes" ADD CONSTRAINT "facture_lignes_facture_id_fkey" FOREIGN KEY ("facture_id") REFERENCES "factures"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "notifications" ADD CONSTRAINT "notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "journal_activite" ADD CONSTRAINT "journal_activite_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "push_subscriptions" ADD CONSTRAINT "push_subscriptions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "fcm_tokens" ADD CONSTRAINT "fcm_tokens_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carnet_entrees" ADD CONSTRAINT "carnet_entrees_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "carnet_pieces_jointes" ADD CONSTRAINT "carnet_pieces_jointes_entree_id_fkey" FOREIGN KEY ("entree_id") REFERENCES "carnet_entrees"("id") ON DELETE CASCADE ON UPDATE CASCADE;

